<div style="position: absolute; margin-left: auto; width: 800px">
    <h1 style="text-align: center;"> Chiamata </h1>
    <hr>
    <div style="display: flex; flex-direction: row;">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <video style="border: 2px solid red;" width="400px" #localVideo autoplay muted></video>
            <h2> TU </h2>
            <button (click)="requestVideoPermission()"> turn on video </button>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <video style="border: 2px solid violet;" width="400px" #remoteVideo autoplay></video>
            <h2> ALTRO <span [hidden]="!this.other_user_has_connected"> E Connesso! </span> </h2>
        </div>
    </div>
    <hr>

    <button (click)="enterCall()"> enter call </button>
    <button (click)="exitCall()"> exit call </button>
</div>
