

<div class="videos-wrapper">

    <div [ngStyle]="{'display': localVideoOn ? 'flex' : 'none'}" class="video-wrapper"> 
        <video #localVideo autoplay muted></video> 
        <!-- <img src="./assets/home.svg" style="width: 50px; height: 50px; position: absolute" alt=""> -->
    </div>
    <span [ngStyle]="{'display': localVideoOn ? 'none' : 'flex'}" class="videoslot" style="background-color: red;"> </span>


    <div [ngStyle]="{'display': remoteVideoOn ? 'flex' : 'none'}" class="video-wrapper"> 
        <video #remoteVideo autoplay muted></video> 
        <!-- <h2> ALTRO <span [hidden]="!this.other_user_is_connected"> E Connesso! </span> </h2> -->
    </div>
    <span [ngStyle]="{'display': remoteVideoOn ? 'none' : 'flex'}" class="videoslot" style="background-color: violet; display: block;"> </span>    

</div>

<div class="buttons-wrapper">
    <button (click)="enterCall()"> <img src="./assets/call_enter.svg"></button>
    <button (click)="exitCall()"> <img src="./assets/call_off.svg"></button>

    <button (click)="toggleCamera(true)"> <img src="./assets/videocamera.svg"> </button>
    <button (click)="toggleCamera(false)"> <img src="./assets/videocamera_off.svg"> </button>
    
    <button (click)="toggleAudio(true)"> <img src="./assets/microphone.svg"></button>
    <button (click)="toggleAudio(false)"> <img src="./assets/microphone_off.svg"></button>

    <!-- 
    <button (click)="toggleScreenshare(true)"> sreensh on <img src="./assets/video_on.svg"> </button>
    <button (click)="toggleScreenshare(false)"> sreensh off <img src="./assets/video_on.svg"> </button> 
    -->
</div>
