<div class="messages-container" #scrollContainer>
    @for (message of chatService.messages; track $index) {
        <div [id]="message.message_id" (mouseenter)="diocane($event)" class="message-wrapper">
            <div class="message">
                <img class="message-user_logo" [src]="chatService.users_info[message.sender].img">
                <div class="message-stuff">
                    <div class="message-stufff">
                        <div class="userdisplayname"> {{chatService.users_info[message.sender].name}} </div>
                        <div class="timestamp"> {{message.timestamp}} </div>
                    </div>
                    <div class="content" [innerHTML]="message.content"> </div>
                    <div style="text-decoration: underline; color: rgb(19, 77, 184);" [hidden]="!message.attachments || message.attachments.endsWith('.png') || message.attachments.endsWith('.jpg') || message.attachments.endsWith('.jpeg') || message.attachments.endsWith('.gif') || message.attachments.endsWith('.webp') || message.attachments.endsWith('.mp3') || message.attachments.endsWith('.mp4')" class="content"> {{message.attachments}} </div>
                    <img style="max-width: 500px; margin-top: 5px; border-radius: 10px;" [src]="message.attachments" [hidden]="!message.attachments?.endsWith('.png') && !message.attachments?.endsWith('.jpg') && !message.attachments?.endsWith('.jpeg') && !message.attachments?.endsWith('.gif') && !message.attachments?.endsWith('.webp')">
                    <audio style="margin-top: 5px;" [src]="message.attachments" [hidden]="!message.attachments?.endsWith('.mp3')" controls></audio>
                    <video width="500px" style="max-width: 500px; margin-top: 5px; border-radius: 10px;" style="margin-top: 5px;" [src]="message.attachments" [hidden]="!message.attachments?.endsWith('.mp4')" controls></video>
                </div>
                <div class="message-actions-wrapper"> 
                    <button [hidden]="thismessageimg !== 'delete'" [id]="message.message_id" (click)="deleteMessage($event)" class="message-actions"> <img src="/assets/delete.svg"> </button>
                    <button [hidden]="thismessageimg !== 'edit'" [id]="message.message_id" (click)="editingMessage($event)" class="message-actions"> <img src="/assets/edit.svg"> </button>
                </div>
            </div>
        </div>
    }
</div>
<div class="input-container" #input_container>
    <div style="position: absolute; top: 0px; right: 0px; height: 30px; background-color: red; transform: translateY(-50%);" [hidden]="!this.chatService.editingMessageMode"> 
        <span> stai modificando un messaggio </span>
        <button (click)="stopEditMessage()"> x </button>
    </div>
    <div class="input-box">
        <button (click)="allegateFile()" class="input-button">
            <img class="input-icon" src="./assets/attachment.svg">
        </button>
        <textarea (keydown)="onKeydown($event)" #input placeholder="Scrivi un messaggio.." class="input" name="text" rows="14" cols="10" wrap="soft" maxlength="1000" (keypress)="adjustHeight($event)" (input)="adjustHeight($event)"></textarea>
        <button class="input-button" (click)="sendMessage()">
            <img class="input-icon" src="./assets/send.svg">
        </button>
    </div>
</div>
<div [hidden]="!this.allegatingFiles" class="allegatingFiles">
    <form (submit)="confirmAllegateFile($event)">
        <input #inputlink type="text">
    </form>
</div>