:host {
    width: 1000px;
    min-width: 200px;
    height: calc(100dvh - 30px);
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.messages-container {
    flex: 1 1 auto;
    /* height: calc(100% - 102px); */
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
}

.message-wrapper:nth-child(1) {
    margin-top: auto;
}

.message-stuff {
    display: flex;
    flex-direction: column;
}
.message-stufff {
    display: flex;
    flex-direction: row;
}

.userdisplayname {
    font-size: 22px;
    line-height: 22px;
    font-weight: 500;
    cursor: pointer;
}

.timestamp {
    font-size: 10px;
    font-weight: 200;
    /* visibility: hidden; */
    margin-top: auto;
    margin-left: 5px;
}

.timestamp:hover {
    visibility: visible;
}

.input-container {
    flex: 0 102 0px;
    width: 100%;
    min-height: 102px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-box {
    width: 100%;
    min-height: 50px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.input {
    width: 100%;
    font-size: 24px;
    border: none;
    height: 60px;
    overflow: hidden; 
    resize: none;
    box-sizing: border-box;
    line-height: 55px;
}

.input:focus {
    outline: none;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-image: linear-gradient(135deg, #4B4A4A 0%, #262525 100%);
    border: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-icon {
    width: 30px;
    height: 30px;
}

button:hover {
    border: 2px solid white;
}

.message-wrapper {
    width: 100%;
}

.message {
    min-width: 130px;
    max-width: 900px;
    margin-right: 23px;
    min-height: 44px;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    
    padding: 8px;
    display: flex;
    gap: 10px;
    position: relative;
}

.message-user_logo {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.content {
    font-size: 18px;
    margin: auto 0 auto 0;
    font-weight: 400;
}

.data {
    position: absolute;
    font-size: 10px;
    font-weight: 300;
    bottom: 3px;
    right: 3px;
}