<div class="home-container">
    <div class="server home">
        <img class="home-icon" src="./assets/home.svg">
    </div>
</div>

<div class="server-container">
    <div class="server"> 
        <img class="server-icon" src="https://cdn.discordapp.com/icons/678556843592777730/355f7fa23795dd6203b4c983fe54df4c.webp?size=96"> 
    </div>
    <div class="server"> 
        <img class="server-icon" src="https://cdn.discordapp.com/icons/678556843592777730/355f7fa23795dd6203b4c983fe54df4c.webp?size=96"> 
    </div>
    <div class="server"> 
        <img class="server-icon" src="https://cdn.discordapp.com/icons/678556843592777730/355f7fa23795dd6203b4c983fe54df4c.webp?size=96"> 
    </div>
    <div class="server"> 
        <img class="server-icon" src="https://cdn.discordapp.com/icons/678556843592777730/355f7fa23795dd6203b4c983fe54df4c.webp?size=96"> 
    </div>
    <div class="server"> 
        <img class="server-icon" src="https://cdn.discordapp.com/icons/678556843592777730/355f7fa23795dd6203b4c983fe54df4c.webp?size=96"> 
    </div>
    <div class="server"> 
        <img class="server-icon" src="https://cdn.discordapp.com/icons/678556843592777730/355f7fa23795dd6203b4c983fe54df4c.webp?size=96"> 
    </div>
    <div class="server"> 
        <img class="server-icon" src="https://cdn.discordapp.com/icons/678556843592777730/355f7fa23795dd6203b4c983fe54df4c.webp?size=96"> 
    </div>
    <div class="server"> 
        <img class="server-icon" src="https://cdn.discordapp.com/icons/678556843592777730/355f7fa23795dd6203b4c983fe54df4c.webp?size=96"> 
    </div>
    <div class="server"> 
        <img class="server-icon" src="https://cdn.discordapp.com/icons/678556843592777730/355f7fa23795dd6203b4c983fe54df4c.webp?size=96"> 
    </div>
    <div class="server"> 
        <img class="server-icon" src="https://cdn.discordapp.com/icons/678556843592777730/355f7fa23795dd6203b4c983fe54df4c.webp?size=96"> 
    </div>
    <div class="server"> 
        <img class="server-icon" src="https://cdn.discordapp.com/icons/678556843592777730/355f7fa23795dd6203b4c983fe54df4c.webp?size=96"> 
    </div>

</div>
