
<div (mouseenter)="messageOption()" class="message-wrapper">

    <div class="message">
        <img class="message-user_logo" [src]="chatService.users_info[messageData().sender].img" alt="User logo">

        <div class="message-stuff">
            <div class="message-stufff">
                <div class="userdisplayname userselection"> {{chatService.users_info[messageData().sender].name}} </div>
                <div class="timestamp userselection"> {{messageData().timestamp | date: 'dd/MM/yyyy HH:mm'}} </div>
            </div>
            <div class="content userselection" [innerHTML]="messageData().content"> </div>

            @if (messageData().attachments !== null) {
                @switch (chatService.linkType(messageData().attachments)) {
                    @case ('image') {
                        <img class="img_link userselection" [src]="messageData().attachments" alt="Image">
                    }
                    @case ('audio') {
                        <audio class="audio_link userselection" [src]="messageData().attachments" controls></audio>
                    }
                    @case ('video') {
                        <video class="video_link userselection" width="500px" [src]="messageData().attachments" controls></video>
                    }
                    @case ('link') {
                        <a class="a_link userselection" [href]="messageData().attachments" target="_blank" class="content"> {{ messageData().attachments }} </a>
                    }
                }
            }
        </div>

        @if (message_option !== 'none') {
            <div class="message-actions-wrapper"> 
                @if (message_option === 'delete') {
                    <button (click)="onDeleteMessage()" class="message-actions"> <img src="/assets/delete.svg" alt="Delete icon"> </button>
                } @else if (message_option === 'edit') {
                    <button (click)="onEditingMessage()" class="message-actions"> <img src="/assets/edit.svg" alt="Edit icon"> </button>
                }
            </div>
        }

    </div>

</div>
