
.message-actions-wrapper {
    display: none;
    position: absolute;
    top: 2px;
    right: 0px;
    transform: translateX(30px);
    width: 25px;
    height: 25px;
}

.message-actions {
    width: 23px;
    height: 23px;
    padding: 1px;
    border-radius: 5px;
    background-color: white;
    border: 0px;
    cursor: pointer;
    padding: 0;
}

.message-actions img {
    width: 23px;
    height: 23px;
}

.content {
    font-size: 18px;
    margin: auto 0 auto 0;
    font-weight: 400;
    width: 100%;
    max-width: 800px;
    word-break: break-word;
    /* display: flex; */
    /* flex-direction: column; */
}

/* .content a {
    text-decoration: dotted;
    color: rgb(115, 235, 17) !important;
} */

.message-stuff {
    display: flex;
    flex-direction: column;
}
.message-stufff {
    display: flex;
    flex-direction: row;
}

.userdisplayname {
    font-size: 22px;
    line-height: 22px;
    font-weight: 500;
    cursor: default;
}

.timestamp {
    width: max-content;
    font-size: 10px;
    font-weight: 400;
    color: rgb(118, 118, 118);
    margin-top: auto;
    transform: translateY(-3px);
    margin-left: 5px;
    cursor: default;
}

.message-user_logo {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
}

.message:hover {
    background-color: rgba(255, 255, 255, 1);
}

.message {
    min-width: calc(130px - 30px);
    max-width: calc(900px - 30px);
    width: fit-content;
    margin-right: 23px;
    min-height: 44px;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    
    padding: 8px;
    display: flex;
    gap: 10px;
    position: relative;
}

.message-wrapper {
    width: calc(100% - 50px);
}

.message-wrapper:hover .message-actions-wrapper {
    display: flex;
}

.message-wrapper:nth-child(1) {
    margin-top: auto;
}




.a_link {
    text-decoration: underline;
    color: rgb(19, 77, 184)
}
.img_link {
    width: min-content;
    max-width: 500px; 
    margin-top: 5px; 
    border-radius: 10px;
    height: auto; 
    object-fit: cover;
    cursor: pointer;
}
.audio_link {
    margin-top: 5px;
}
.video_link {
    max-width: 500px; 
    margin-top: 5px; 
    border-radius: 10px;
}
