
<div class="navbar">
    <button [style]="showFriendList ? 'outline: 2px solid #bd4fce;' : ''" (click)="show('friendList')"> lista amici </button>
    <button [style]="showRecentActivities ? 'outline: 2px solid #9079d4;' : ''" (click)="show('recentActivities')"> attività recenti </button>
    <button [style]="showYourPost ? 'outline: 2px solid #5ebedd;' : ''" (click)="show('yourPost')"> i tuoi post </button>
</div>

<app-friend-list [hidden]="!showFriendList"></app-friend-list>
<app-recent-activities [hidden]="!showRecentActivities"></app-recent-activities>
<app-your-post [hidden]="!showYourPost"></app-your-post>
