:host {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.notification-body {
    width: 300px;
    height: 44px;
    padding: 15px;
    background-color: #222222;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.image {
    width: 44px;
    border-radius: 100%;
}

p {
    font-size: 14px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

button {
    position: absolute;
    top: 5px;
    right: 5px;
}
