:host {
    width: 1000px;
    min-width: 200px;
}

.chat-container {
    max-height: calc(100% - 96px);
    overflow-y: auto;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user_info {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.user_info2 {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
}

.user_info3 {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.user_status {
    font-size: 18px;
    font-weight: 500;
    text-overflow: clip;
    white-space: nowrap
}

.user_mood {
    white-space: nowrap;
    text-overflow: clip;
}

.user {
    height: 44px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user:hover {
    background-color: white;
}

.user:last-child {
    margin-bottom: 5px;
}

.chat_icon_button {
    width: 45px;
    height: 45px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}

.chat_icon {
    width: 40px;
    height: 40px;
}

.chat_icon_button:hover {
    background-color: #e0e0e0;
    transition: all 0.2s ease-in-out;
    margin-left: 0px;
}

.user_logo{
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.user_name {
    font-size: 1.5rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user_name_input {
    max-width: 500px;
    font-size: 1.5rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    background: none;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #222222;
}

.add_friend {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    cursor: default;
}

.add_friend img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.user_name_input:focus {
    outline: none;
}
