<div class="chat-container">

    @for (friend of getFriendsList(); track $index) {
        <div class="user">
            <div [id]="friend.user_id" class="user_info">
                <img class="user_logo" [src]="friend.user_logo">
                <div class="user_info3">
                    <span class="user_name"> {{friend.user_displayName}} </span>
                    <span class="user_mood"> Nah today nuhhu </span>
                </div>
            </div>
            <div class="user_info2">
                <div class="user_status"> Stava usando visual studio.. </div>
                <img class="chat_icon" src="./assets/chat_colorfull.svg">
            </div>
        </div>
    }

</div>
