:host {
    width: 1000px;
    min-width: 200px;
    margin-top: 30px;
}

.chat-container {
    height: calc(100% - 96px);
    overflow-y: scroll;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user_info {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.user_info2 {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
}

.user_info3 {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.user_status {
    font-size: 18px;
    font-weight: 500;
}

.user {
    height: 44px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.user:hover {
    background-color: white;
}

.user:last-child {
    margin-bottom: 5px;
}


.chat_icon {
    width: 40px;
    height: 40px;
}

.chat_icon:hover {
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 3px;
    transition: all 0.2s ease-in-out;
    margin-right: -3px;
}

.user_logo{
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.user_name {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}
