
<div class="wrapper">
    <p> Impostazioni </p>
        
    <section>
        <p> Informativa sulla privacy <a href="">disvhord.vincenzomanzi.com</a> </p>
        <div>
            <button> Cambia password </button> <br>
            <button> Cambia email </button> <span> (dove ricevi le mail, non effettivo dell account) </span>
        </div>
        <div>
            <button> Disconnettiti dal account </button>
            <button> Elimina Account </button>
        </div>
    </section>
</div>



