
<div class="wrapper">
    <h1 class="center"> Impostazioni </h1>
        
    <section>
        <p> Informativa sulla privacy <a href="">disvhord.vincenzomanzi.com</a> </p>

        <hr>

        <div>
            <button> Cambia password </button> <br>
            <button> Cambia email </button> <span> (dove ricevi le e-mail, non effettivo dell account) </span>
        </div>

        <hr>

        <div>
            <button> Disconnettiti dal account </button>
            <button> Elimina Account </button>
        </div>
    </section>
</div>



