
@if (!this.friend_request || !this.friend_request.length) {
    <p> Non hai nessuna notifica </p>
} @else {
    <div class="notification">
        @for (notification of this.friend_request; track $index) {
            <p class="user_name_request">
                <u><b> {{notification.user_handle}} </b></u> ti ha inviato una richiesta di amicizia,
                <span (mouseover)="showTooltip = true" (mouseout)="showTooltip = false" class="tooltip-container"> 
                    <u> {{ notification.timestamp | relativeTime }} </u>
                    @if (showTooltip) { <span class="tooltip"> {{ notification.timestamp | date : 'dd/MM/yyyy HH:mm' }} </span> }
                </span>
            </p>
            <section class="buttons_section">
                <button (click)="acceptFriendRequest(notification.user_id)"> Accetta </button>
                <button (click)="deleteFriendRequest(notification.user_id)"> Rifiuta </button>
            </section>
        }
    </div>
}
