
.notification {
    width: calc(100% - 20px);
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.buttons_section {
    display: flex;
    justify-content: space-between;
}

button {
    width: 45%;
    border-radius: 5px; 
    background-image: linear-gradient(135deg, #4B4A4A 0%, #262525 100%); 
    border: none; 
    color: white; 
    font-weight: 600; 
    padding: 8px 12px; 
    cursor: pointer;
}
