
.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    width: 100%;
    height: 100%;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1001;
    width: 550px;
    height: 600px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.user_logo {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.user_name {
    font-size: 30px;
    font-weight: 600;
}
