:host {
    max-height: 89%;
    /* border: 2px solid black; */
    overflow: hidden;
}

.chat-container {
    height: calc(100% - 101px);
    overflow-y: scroll;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.chat {
    height: 44px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    
    padding: 8px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 7px;
    cursor: pointer;
}

.chat:hover {
    background-color: white;
}

.chat:last-child {
    margin-bottom: 5px;
}

.personal-chat {
    width: calc(100% - 29px);
    margin-bottom: 36px;
}

.chat-icon {
    width: 40px;
    height: 40px;
}

.chat-icon:hover {
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 3px;
    transition: all 0.2s ease-in-out;
    margin-right: -3px;
}

.chat-user_logo{
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.chat-user_name {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}
