<div routerLink="/app/home/chat" class="chat personal-chat">
    <img class="chat-user_logo" [src]="this.InitializeAppApiService.user_interface.user_logo">
    <span class="chat-user_name"> {{this.InitializeAppApiService.user_interface.user_displayName}} </span>
    <img class="chat-icon" src="./assets/chat_colorfull.svg">
</div>

<div class="chat-container">
    @for (chat of getUserChats(); track $index) {
        <div (click)="ruoteToChat($event)" [id]="chat.chat_id" routerLink="/app/home/chat" class="chat">
            <img class="chat-user_logo" [src]="chat.user_logo">
            <span class="chat-user_name"> {{chat.user_displayName}} </span>
        </div>
    } 
</div>
