
<div class="input-container">
    <div class="input-box">
        @if (chatService.editingMessageMode()) {
            <div class="modifing-message"> 
                <span> stai modificando questo messaggio </span>
            </div>
        }

        @if (chatService.allegatedLink) {
            <div #allegatedLink [ngStyle]="{'top': allegatedLinkHeight}" class="link-wrapper">
                @switch (chatService.linkType(chatService.allegatedLink)) {
                    @case ('image') {
                        <img class="img_link" [src]="chatService.allegatedLink" alt="Image">
                    }
                    @case ('audio') {
                        <audio class="audio_link" [src]="chatService.allegatedLink" controls></audio>
                    }
                    @case ('video') {
                        <video class="video_link" width="500px" [src]="chatService.allegatedLink" controls></video>
                    }
                    @case ('link') {
                        <a class="a_link" [href]="chatService.allegatedLink" target="_blank" class="content"> {{ chatService.allegatedLink }} </a>
                    }
                }

                <button (click)="onDeleteAllegatedLink()"> X </button>
            </div>
        }

        <button [hidden]="chatService.editingMessageMode() === true" (click)="onAddLinkPopup()" class="input-button">
            <img class="input-icon" src="./assets/attachment.svg">
        </button>
        <button [hidden]="chatService.editingMessageMode() === false" (click)="onStopEditMessage()" class="input-button">
            <img class="input-icon" src="./assets/delete.svg">
        </button>

        <span #input_zone class="input userselection">

            @for (mess of newmessage; track $index) {
                <div #text_area [innerHTML]="mess" (keydown)="onKeydown($event)" contenteditable="true" class="input2" ></div>
            }
            
        </span>

        <button class="input-button" (click)="onSendMessage()">
            <img class="input-icon" src="./assets/send.svg">
        </button>
    </div>
</div>
