:host {
    padding-top: 16px;
    padding-bottom: 16px;
}

.input {
    width: 100%;
    font-size: 24px;
    border: none;
    min-height: 60px;
    overflow: hidden; 
    resize: none;
    box-sizing: border-box;
}

.input2 {
    outline: none;
    line-height: 36px;
    padding: 12px 10px;
}

.input:focus {
    outline: none;
}

.input-button {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-image: linear-gradient(135deg, #4B4A4A 0%, #262525 100%);
    border: 0px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.input-button:hover {
    border: 2px solid white;
}

.input-container {
    flex: 0 102 0px;
    width: 100%;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    position: relative;
}

.input-box {
    width: 100%;
    min-height: 50px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content {
    font-size: 18px;
    margin: auto 0 auto 0;
    font-weight: 400;
    max-width: 800px;
    word-wrap: break-word;
}



.a_link {
    text-decoration: underline;
    color: rgb(19, 77, 184)
}
.img_link {
    max-width: 500px; 
    margin-top: 5px; 
    border-radius: 10px;
}
.audio_link {
    margin-top: 5px;
}
.video_link {
    max-width: 500px; 
    margin-top: 5px; 
    border-radius: 10px;
}

.link-wrapper {
    position: absolute; 
    left: 0; 
    background-color: white; 
    border-radius: 5px 5px 0px 5px; 
    border-bottom: 1px solid black; 
    padding: 0px 5px 0px 5px;
}

.modifing-message {
    position: absolute; 
    left: 0; 
    top: -31px;
    height: 30px; 
    background-color: white; 
    border-radius: 5px 5px 0px 5px; 
    border-bottom: 1px solid black; 
    padding: 0px 5px 0px 5px;
}
