<div class="chat">
    <img class="user_logo" [src]="this.user_chat_logo">
    <span class="user_name"> {{user_chat_name}} </span>
</div>

<div class="chat" style="margin-top: 10px;">
    <span class="user_name" (click)="callThisCha()"> Chiama </span>
</div>
<div class="chat" style="margin-top: 10px;">
    <span class="user_name"> Rimuovi amicizia </span>
</div>
<div class="chat" style="margin-top: 10px;">
    <span class="user_name"> Aggiungi agli amici </span>
</div>
<div class="chat" style="margin-top: 10px;">
    <span class="user_name"> Blokka billy </span>
</div>
