
<div class="wrapper">
    <img class="user_logo" [src]="user_chat_logo">
    <span class="user_name"> {{user_chat_name}} </span>
</div>

<button (click)="callThisChat()">
    <span class="user_name"> Chiama </span>
</button>

@if (chatService.chat_user_isFriend() && !friendRequestSend) {
    <button (click)="removeFriend()">
        <span class="user_name"> Rimuovi amicizia </span>
    </button>
}
@if (!chatService.chat_user_isFriend() && !friendRequestSend){
    <button (click)="sendFriendRequest()">
        <span class="user_name"> Aggiungi agli amici </span>
    </button>
}

@if (friendRequestSend) {
    <button (click)="removeFriendRequest()">
        <span class="user_name"> Annulla richiesta d'amicizia </span>
    </button>
}
@if (!chatService.chat_user_isBlocked) {
    <button (click)="blockUser()">
        <span class="user_name"> Blocca </span>
    </button>
} @else {
    <button (click)="removeBlockFromUser()">
        <span class="user_name"> Sblocca </span>
    </button>
}
